@postidigital:registry=https://npm.pkg.github.com
//reservoir.haiku.ai:8910/:_authToken=
@haiku:registry=https://reservoir.haiku.ai:8910/
_auth=
always-auth=false
registry=https://registry.npmjs.org
scripts-prepend-node-path=true